* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightpink;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 30px 0;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-reflect: below -62px linear-gradient(to bottom, rgba(255, 182, 193, 0.8), rgba(255, 182, 193, 0));
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
  align-items: stretch;
}

.row .col {
  width: calc((100% - 30px) / 4);
  padding: 10px 0;
}

.card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 40px rgba(255, 255, 100, 0.8);
}

.card .title {
  text-align: center;
  padding: 6px 0;
  font-size: 22px;
  border-bottom: 1px solid black;
}

.card .detaills {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: lightpink;
  height: 150px;
  border-bottom: 1px solid black;
}
.detaills .col-details {
  width: calc((100% - 10px) / 2);
}

.detaills img {
  width: 100%;
  display: block;
}

.detaills .text ul {
  padding: 6px 10px;
  margin-left: 20px;
}

.btn {
  padding: 4px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}

.btn:hover {
  transform: scale(1.1);
  background-color: lightgray;
  border-radius: 100%;
  font-weight: 700;
}

p {
  padding: 8px 10px;
}

.form-data {
  padding: 30px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

form button {
  border: none;
  padding: 6px 10px;
  background-color: lightpink;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(255, 255, 100, 0.8);
}

form button:hover {
  transform: scale(1.3);
}

input {
  padding: 4px 8px;
}
